# Assignment for week 6

Use the following table to provide us with

|name | exam number|
|----|----|
|Gianno van Well| 2001647|
|other group member's name| exam number|

# You need to read the data of salaries.csv
Call the dataframe s.
If you get the wrong output (all oberservations per row in one column), please look at the "separator" in the csv-file and adjust the read command, to that each observations is in one cell.

In [3]:
library(dplyr)

s <- read.csv('Salaries.csv')

NameError: name 'library' is not defined

Show the data with the command head()

In [8]:
head(s)

NameError: name 'head' is not defined

Show the structure of the dataset with the command str()

In [4]:
str(s)

NameError: name 's' is not defined

Change the variable "salary" into a numeric variable, with the command as.numeric

In [5]:
s <- transform(salary, class = as.numeric(s$salary)

SyntaxError: invalid syntax (<ipython-input-5-75cddf8a1c8d>, line 1)

Show the new structure of the dataset with the command str()

In [6]:
str(s$salary)

SyntaxError: invalid syntax (<ipython-input-6-d34f4478df3f>, line 1)